body {
    background: rgb(17, 0, 51);
    background: linear-gradient(63deg, rgb(1, 1, 34) 30%, rgb(40, 19, 89) 100%);
}

.bg-blur {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
}